#es-rc #es-rc-content {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  color: #000;
  background: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-banner {
  background-color: #DB7BA7;
  color: #FFF;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 16px 8px;
}
#es-rc #es-rc-content .es-features {
  margin: 20px auto;
}
#es-rc #es-rc-content .es-features__wrapperTop {
  padding-inline: 16px;
}
#es-rc #es-rc-content .es-features__imgL {
  padding: 10px;
}
#es-rc #es-rc-content .es-features__action {
  padding: 10px;
}
#es-rc #es-rc-content .es-features__action--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 32px;
}
#es-rc #es-rc-content .es-features__action--title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
#es-rc #es-rc-content .es-features__action--text {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  font-size: 14px;
  height: 150px;
}
#es-rc #es-rc-content .es-features__action--gradientBar {
  width: 25px;
  height: 150px;
  background: rgb(201, 62, 126);
  background: linear-gradient(180deg, rgb(201, 62, 126) 0%, rgb(241, 169, 202) 44%, rgb(255, 234, 243) 100%);
  box-shadow: 7px 0px 6px 0px rgba(0, 0, 1, 0.4);
  border-radius: 99px;
}
#es-rc #es-rc-content .es-features__wrapperBtm {
  margin-top: 30px;
  padding-inline: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#es-rc #es-rc-content .es-features__single {
  width: 100%;
  padding: 10px;
}
#es-rc #es-rc-content .es-features__img {
  overflow: hidden;
  border-radius: 36px;
}
#es-rc #es-rc-content .es-features__img img {
  transition: all 300ms ease-in-out;
}
#es-rc #es-rc-content .es-features__img img:hover {
  scale: 1.05;
}
#es-rc #es-rc-content .es-features__textWrapper {
  height: 80px;
  padding: 8px;
  background-color: #C86C96;
  border-radius: 14px;
  margin-top: 14px;
  display: grid;
  place-items: center;
}
#es-rc #es-rc-content .es-features__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #FFF;
  text-align: center;
  text-wrap: balance;
  font-weight: 500;
}
#es-rc #es-rc-content .es-technology {
  text-align: center;
  text-wrap: balance;
  background-color: #F1A9CA;
  color: #FFF;
}
#es-rc #es-rc-content .es-technology__textWrapper {
  padding: 16px;
}
#es-rc #es-rc-content .es-technology__title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#es-rc #es-rc-content .es-technology__text--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-formula {
  margin: 20px auto 60px;
}
#es-rc #es-rc-content .es-formula__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: auto;
  padding: 20px 0;
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  color: #F1A9CA;
  text-align: center;
  width: 80%;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-formula__title span {
  font-size: 20px;
}
#es-rc #es-rc-content .es-formula__wrapper {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#es-rc #es-rc-content .es-formula__left {
  max-width: 498px;
}
#es-rc #es-rc-content .es-formula__left img {
  padding: 20px;
}
#es-rc #es-rc-content .es-formula__right {
  max-width: 498px;
  background: url("../images/formula-right.png") no-repeat;
  background-size: auto;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px 20px;
}
#es-rc #es-rc-content .es-formula__single {
  width: 250px;
  height: 250px;
  padding: 30px 10px;
  text-align: center;
  text-wrap: balance;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
  transition: all 300ms ease-in-out;
}
#es-rc #es-rc-content .es-formula__single:hover {
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.2);
}
#es-rc #es-rc-content .es-formula__single img {
  max-width: 60px;
}
#es-rc #es-rc-content .es-formula__text--title {
  font-weight: 700;
  margin-block: 5px;
}
#es-rc #es-rc-content .es-cross {
  margin: 20px auto;
}
#es-rc #es-rc-content .es-cross__titleWraper {
  margin: 0 auto 20px;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 0 25px;
  line-height: 25px;
  text-align: center;
  background: #F1A9CA;
  transform: skewX(-45deg);
}
#es-rc #es-rc-content .es-cross__title {
  display: inline-block;
  transform: skewX(45deg);
  width: 100%;
  margin: auto;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross__products {
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 2px;
  justify-content: space-between;
}
#es-rc #es-rc-content .es-cross__product {
  width: 162px;
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#es-rc #es-rc-content .es-cross__product:hover .es-cross__link::before {
  transform: scaleX(1);
}
#es-rc #es-rc-content .es-cross__product:hover .es-cross__packshot {
  transform: translateY(-8px);
}
#es-rc #es-rc-content .es-cross__packshot {
  transition: transform 0.6s;
  margin-bottom: 24px;
}
#es-rc #es-rc-content .es-cross__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 8px;
  font-size: 16px;
}
#es-rc #es-rc-content .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  position: relative;
  display: inline-block;
  padding: 8px 22px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background: #F1A9CA;
  transition: color 0.3s ease-in-out;
  z-index: 1;
}
#es-rc #es-rc-content .es-cross__link::before {
  content: "";
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #C86C96;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
#es-rc #es-rc-content .es-cross__img {
  transition: all 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-footer {
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}
#es-rc #es-rc-content .es-footer__bg {
  padding-top: 20px;
}
#es-rc #es-rc-content .es-footer__logo {
  padding-top: 40px;
  width: 200px;
}
@media screen and (min-width: 576px) {
  #es-rc #es-rc-content .es-features__wrapperTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #es-rc #es-rc-content .es-features__imgL {
    width: 50%;
  }
  #es-rc #es-rc-content .es-features__action--title {
    font-size: 24px;
    text-align: right;
    margin-right: 24px;
  }
  #es-rc #es-rc-content .es-features__single {
    width: 30%;
    font-size: 14px;
  }
  #es-rc #es-rc-content .es-technology {
    position: relative;
  }
  #es-rc #es-rc-content .es-technology__textWrapper {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 2%;
    width: 75%;
    max-width: 444px;
  }
  #es-rc #es-rc-content .es-cross__product {
    justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__wrapperTop {
    padding-inline: 24px;
  }
  #es-rc #es-rc-content .es-features__action {
    margin-right: 32px;
  }
  #es-rc #es-rc-content .es-features__action--text {
    height: 200px;
  }
  #es-rc #es-rc-content .es-features__action--gradientBar {
    height: 200px;
  }
  #es-rc #es-rc-content .es-features__wrapperBtm {
    padding-inline: 24px;
  }
  #es-rc #es-rc-content .es-formula__left {
    width: 50%;
    display: flex;
    align-items: center;
  }
  #es-rc #es-rc-content .es-formula__right {
    width: 50%;
  }
  #es-rc #es-rc-content .es-formula__single {
    width: 45%;
    font-size: 14px;
  }
  #es-rc #es-rc-content .es-formula__text--title {
    margin-block: 10px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-features__action {
    margin-right: 64px;
  }
  #es-rc #es-rc-content .es-features__action--title {
    font-size: 30px;
    margin-bottom: 16px;
  }
  #es-rc #es-rc-content .es-features__action--text {
    font-size: 18px;
  }
}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */